.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:grey;
  color:rgb(228, 228, 228);
  padding:20px;
  height: 10vh;
  width: 100%;
  margin-top: 0%;
  position: fixed;
 
}
.nav-content{
  display: flex;
  justify-content: space-between;
  width:20vw;
  margin: 100px;
  cursor: pointer; 
}
.Newsline{
  color:red;
  font-size:2cm;
}
.logo{
  height:50px;
  width:100px
}
.body{
width: 100vw;
padding: 20px;
}
.newscontainer{
  display:flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
  overflow-x: hidden;
}
.image-container{
  width: 300px;
  margin: 20px;
}
.title{
  color:blue;
  font-size:small;
}
.image{
  width:30vw;
  height:50vh;
}
.newsImage{
  width:30vw;
  height:50vh
}
.header{
  padding-top: 100px;
}