.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:grey;
  color:rgb(228, 228, 228);
  margin:30px;
  padding:20px;
  height: 10vh;
  cursor: pointer;
}
.nav-content{
  display: flex;
  justify-content: space-between;
}
.Newsline{
  color:red;
  font-size:2cm;
}
.logo{
  height:50px;
  width:100px
}
.body{
  height:100vh;
  background-color:blue;
}
.image{
  width:30vw;
  height:50vh
}
.newscontainer{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.image-container{
  width: 300px;
}